{% if offres is defined %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <select id="selectIdOffre" name="selectIdOffre">
                <option id="0">Sélectionnez un véhicule</option>
                {% for o in offres %}
                <option value="{{ o.id }}" {% if idOffre == o.id %}selected{% endif %}>{{ o.vehicule.marque }} {{ o.vehicule.modele }}</option>
                {% endfor %}
            </select>
            {% if idOffre != 0 %}
            <div class="row">
            {{ form_start(form, {'attr': {'id': 'admin-location-form'}}) }}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input type="hidden" name="" class="daterangeSelect">
            {{ form_errors(form) }}
            {{ form_row(form.user) }}
            {{ form_row(form.dateDebut) }}
            {{ form_row(form.dateFin) }}
            {{ form_rest(form) }}
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 admin-form-datepicker">
            <div id="liste-offres"></div>
            </div>
            {{ form_end(form) }}
            {% endif %}
            </div>
            <script>
                $( function() {
                    $('#selectIdOffre').on('change', function (){
                        var params = { 
                            'type' : 'type-ajout-par-vehicule',
                            'idOffre' : $(this).val(),
                            };
                        $.ajax({
                                type: "POST",
                                url: '{{ path('admin_locations_ajax_form') }}',
                                data: params,
                                success: function (retour) { 
                                    $('#admin-form-location').html(retour);
                                }
                            });
                    });
                    var now = new Date();
                    var listeDateResa = {{ listeDateResa|raw }};
                    $('.daterangeSelect').daterangepicker({
                        "autoApply": true,
                        "cancelClass": "hide",
                        "opens": "center",
                        "minDate": now,
                        "isInvalidDate": function(date){
                            var dateFormater = date.format('DD-MM-YYYY');
                            if(listeDateResa.indexOf(dateFormater) > -1)
                            {
                                return true;
                            }
                            else
                            {
                                return false;
                            }
                        },
                        "locale": {
                            "format": "YYYY-MM-DD"
                        },
                        "parentEl": ".admin-form-datepicker"
                    });
                    $('.daterangepicker').addClass('hide');

                    $('#recherche_admin_vehicule_dateDebut, #recherche_admin_vehicule_dateFin').click(function() {
                        $('.daterangepicker').removeClass('hide');
                        $('.daterangeSelect').trigger('click');
                    });

                    $('.daterangeSelect').on('apply.daterangepicker', function(event, picker) {
                        $('#recherche_admin_vehicule_dateDebut').val(picker.startDate.format('DD/MM/YYYY'));
                        $('#recherche_admin_vehicule_dateFin').val(picker.endDate.format('DD/MM/YYYY'));
                    });

                    $('#recherche_admin_vehicule_submit').on('click', function(e){
                        e.preventDefault();
                        var params = $('#admin-location-form').serialize();
                        $.ajax({
                                type: "POST",
                                url: '{{ path('admin_locations_ajax_paiement') }}',
                                data: params,
                                success: function (retour) { 
                                    $('#liste-offres').html(retour);
                                }
                            });
                    });

                } );
            </script>
        </div>
    </div>
{% endif %}