<style>
    .stripe-button-el{
        display: none;
    }
    .reservation-paiement{
        display: inline-block;
    }

</style>
{% if offres is not null %}
    {% for offre in offres %}
        <div class="row vehicule">
            <div class="col-lg-12">
                <span class="nom">{{ offre.vehicule.modele ~ " " ~ offre.vehicule.marque }}</span>
                <span>  <u>Inclus:</u> <b>{{ offre.kmInclus }} kilomètres</b></span>
                <span class="couleur">  Couleur : {{ offre.vehicule.couleur }}</span>
                <span class="prix">  Prix journalier :<b>{{ offre.prixJournalier }}€</b></span>
                <span class="prix">  Prix total :<b>{{ offre.prixTotal }}€</b></span>
                <div class="reservation-paiement">
                    <input type="submit" data-offre-id="{{ offre.id }}"  data-vehicule-id="{{ offre.vehicule.id }}" class="admin-btn-resa-offre" value="Réserver pour le client">
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
<script>
    $( function() {
        $('.admin-btn-resa-offre').on('click', function(e){
            e.preventDefault();
            $('#recherche_admin_idOffreLocation').val($(this).data('offre-id'));
            $('#recherche_admin_idVehicule').val($(this).data('vehicule-id'));
            var params = $('#admin-location-form').serialize();
            $.ajax({
                    type: "POST",
                    url: '{{ path('admin_locations_ajax_paiement') }}',
                    data: params,
                    success: function (retour) { 
                        $('#liste-offres').html(retour);
                    }
                });
        });
    } );
</script>