{% if offres is defined %}
    <div class="row">
        <select id="selectIdVehicule" name="idVehicule">
            <option id="0">Sélectionnez un véhicule</option>
            {% for o in offres %}
            <option value="{{ o.vehicule.id }}" {% if idVehicule == o.vehicule.id %}selected{% endif %}>{{ o.vehicule.marque }} {{ o.vehicule.modele }}</option>
            {% endfor %}
            {% if idVehicule != 0 %}
            {{ form_start(form, {'attr': {'id': 'admin-location-form'}}) }}
            <input type="hidden" name="" class="daterangeSelect">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form_errors(form) }}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form_row(form.user) }}
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateFin) }}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {% endif %}
        </select>
        <script>
            $( function() {
                $('#selectIdVehicule').on('change', function (){
                    var params = { 
                        'type' : 'type-ajout-par-vehicule',
                        'idVehicule' : $(this).val(),
                        };
                    $.ajax({
                            type: "POST",
                            url: '{{ path('admin_locations_ajax_form') }}',
                            data: params,
                            success: function (retour) { 
                                $('#admin-form-location').html(retour);
                            }
                        });
                });
                

                var now = new Date();
                var listeDateResa = {{ listeDateResa|raw }};
                $('.daterangeSelect').daterangepicker({
                    "autoApply": true,
                    "cancelClass": "hide",
                    "opens": "center",
                    "minDate": now,
                    "isInvalidDate": function(date){
                        var dateFormater = date.format('DD-MM-YYYY');
                        if(listeDateResa.indexOf(dateFormater) > -1)
                        {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                    },
                    "locale": {
                        "format": "YYYY-MM-DD"
                    },
                    "parentEl": ".form-horizontal"
                });
                $('.daterangepicker').addClass('hide');

                $('#recherche_admin_vehicule_dateDebut, #recherche_admin_vehicule_dateFin').click(function() {
                    $('.daterangepicker').removeClass('hide');
                    $('.daterangeSelect').trigger('click');
                });

                $('.daterangeSelect').on('apply.daterangepicker', function(event, picker) {
                    $('#recherche_admin_vehicule_dateDebut').val(picker.startDate.format('DD/MM/YYYY'));
                    $('#recherche_admin_vehicule_dateFin').val(picker.endDate.format('DD/MM/YYYY'));
                });

            } );
        </script>
    </div>
{% endif %}