<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- JQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
{% block nav %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home_admin') }}">Emotion</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('admin_app_user_list') }}">Gestion des Utilisateurs</a></li>
                <li><a href="{{ path('admin_show_locations')}}">Gestion des Locations</a></li>
                <li><a href="{{ path('admin_offrelocation_index')}}">Gestion des Offres/Locations</a></li>
                <li><a href="{{ path('admin_vehicule_index') }}">Gestions des Véhicules</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
<style>
    body{
        background-color: whitesmoke;
    }
    .manager-admin-table {
        max-height: 310px;
        overflow-y: scroll;
        margin: 0 0 10px 0;
    }
    #type-ajout-location, #type-update-location{
        text-align: center;
        padding-bottom: 20px;
    }
    #admin-form-location form > div > div, #admin-update-form-location form > div > div{
        margin: 5px 10px;
    }
    #admin-form-location label,#admin-update-form-location label{
        margin-right: 10px;
    }
    #admin-form-location select, #admin-form-location input, #admin-form-location button, #admin-update-form-location select, #admin-update-form-location input, #admin-update-form-location button {
        padding: 6px;
    }
    footer {
    padding-bottom: 85px;
    }
    #admin-form-location .admin-form-datepicker .daterangepicker, #admin-update-form-location  .admin-form-datepicker .daterangepicker{
        top: -8px!important;
    }
    #admin-update-form-location{
        position: relative;
    }
    #type-update-location a{
        color: gray;
    }
    #type-update-location a.selected{
        color: #000000;
    }
    .manager-btn-bottom{ padding-top: 100px;}
    .manager-btn-bottom > div{
        text-align: center;
    }
    .btn-show-list-manager{
        display: block;
        text-align: center;
        padding: 0 50px;
        height: 45px;
        line-height: 45px;
        border: none;
        color: #FFF;
        background: rgb(35, 82, 124);
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
    }
    .btn-del-manager{
        display: block;
        text-align: center;
        padding: 0 50px;
        height: 45px;
        line-height: 45px;
        border: none;
        color: #FFF;
        background: #aa141e;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
    }
    .btn-show-list-manager:hover{
        color: #FFF;
    }
</style>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
    <footer></footer>
</body>
</html>


