{% if offres is not null %}
    {% for offre in offres %}
        <div class="row vehicule">
            <div class="col-lg-10">
                <span class="nom">{{ offre.vehicule.modele ~ " " ~ offre.vehicule.marque }}</span>
                <span>  <u>Inclus:</u> <b>{{ offre.kmInclus }} kilomètres</b></span>
                <span class="couleur">  Couleur : {{ offre.vehicule.couleur }}</span>
                <span class="prix">  Prix journalier :<b>{{ offre.prixJournalier }}€</b></span>
                <span class="prix">  Prix total :<b>{{ offre.prixTotal }}€</b></span>
            </div>
            <div class="col-lg-2 vehicule-resa">
                <input type="submit" data-offre-id="{{ offre.id }}" class="admin-btn-resa-offre" value="Réserver pour le client">
            </div>
        </div>
    {% endfor %}
{% endif %}
<script>
    $( function() {
        $('.admin-btn-resa-offre').on('click', function(e){
            $('#recherche_admin_idOffreLocation').val($(this).data('offre-id'));
            $('#admin-location-form').submit();
        });
    } );
</script>