{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehicule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Numserie</th>
                <td>{{ vehicule.numSerie }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ vehicule.couleur }}</td>
            </tr>
            <tr>
                <th>Plaqueimmatriculation</th>
                <td>{{ vehicule.plaqueImmatriculation }}</td>
            </tr>
            <tr>
                <th>Nbkilometres</th>
                <td>{{ vehicule.nbKilometres }}</td>
            </tr>
            <tr>
                <th>Dateachat</th>
                <td>{% if vehicule.dateAchat %}{{ vehicule.dateAchat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prixachat</th>
                <td>{{ vehicule.prixAchat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_vehicule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_vehicule_edit', { 'id': vehicule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
