{% extends ':front:layout.html.twig' %}

{%  block body %}
    <br>
    <div>
        <p id="labelListeVehicule">Nos véhicules :</p>
    </div>
    <div class="resultat-listing">
        {% if offres is not null %}
            {% for offre in offres %}
                <div class="row vehicule">
                    <div class="col-lg-4 vehicule-image">
                        <img src="{{ offre.vehicule.image.webPath }}" alt="{{ offre.vehicule.modele ~ " " ~ offre.vehicule.marque }}">
                    </div>
                    <div class="col-lg-4 vehicule-infos">
                        <span class="nom">{{ offre.vehicule.modele ~ " " ~ offre.vehicule.marque }}</span>
                        <span><u>Inclus avec l'offre :</u> <b>kilomètres illimité.</b></span>
                        <span class="couleur">Couleur : {{ offre.vehicule.couleur }}</span>
                        <span class="prix">À partir de : <b>{{ offre.prixJournalier }}€</b> par jour*</span>
                    </div>
                    <div class="col-lg-4 vehicule-resa">
                        <a href="{{ path('fiche_vehicule', {id : offre.id}) }}" title="En savoir plus" class="resa-btn">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}