<div id="module-de-recherche">
    {{ form_start(form) }}

    {{ form_errors(form) }}
    
    <input type="hidden" name="" class="daterangeSelect">

    {{ form_widget(form.dateDebut) }}

    {{ form_widget(form.dateFin) }}

    {{ form_widget(form.ville) }}

    {{ form_widget(form.submit) }}

    {{ form_rest(form) }}
  
    {{ form_end(form) }}
</div>
<script>
    $( function() {

        var now = new Date();
        console.log(now);

        $('.daterangeSelect').daterangepicker({
            "autoApply": true,
            "cancelClass": "hide",
            "opens": "center",
            "minDate": now,
            "locale": {
                "format": "YYYY-MM-DD"
            },
            "parentEl": "#module-de-recherche"
        });
        $('.daterangepicker').addClass('hide');

        $('#recherche_dateDebut, #recherche_dateFin').click(function() {
            $('.daterangepicker').removeClass('hide');
            $('.daterangeSelect').trigger('click');
        });

        $('.daterangeSelect').on('apply.daterangepicker', function(event, picker) {
            $('#recherche_dateDebut').val(picker.startDate.format('DD/MM/YYYY'));
            $('#recherche_dateFin').val(picker.endDate.format('DD/MM/YYYY'));
            $('.bouton.actualiser').trigger('click');
        });

    } );
</script>