{% extends ':front:layout.html.twig' %}

{% block moduleDeRecherche %}
    {{ render(controller('AppBundle:Front/Front:moduleRecherche')) }}
{% endblock %}

{%  block body %}
    <div class="resultat-listing">
        {% if offres is not null %}
            {% for offre in offres %}
                <div class="row vehicule">
                    <div class="col-lg-4 vehicule-image">
                        <img src="{{ offre.vehicule.image.webPath }}" alt="{{ offre.vehicule.modele ~ " " ~ offre.vehicule.marque }}">
                    </div>
                    <div class="col-lg-4 vehicule-infos">
                        <span class="nom">{{ offre.vehicule.modele ~ " " ~ offre.vehicule.marque }}</span>
                        <span><u>Inclus avec l'offre :</u> <b>{{ offre.kmInclus }} kilomètres.</b></span>
                        <span class="couleur">Couleur : {{ offre.vehicule.couleur }}</span>
                        <span class="prix">À partir de : <b>{{ offre.prixJournalier }}€</b> par jour*</span>
                    </div>
                    <div class="col-lg-4 vehicule-resa">
                        <a href="{{ path('front_reservation', {id : offre.id}) }}" title="Réserver maintenant" class="resa-btn">Réserver maintenant</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}