{% extends ':front:layout.html.twig' %}

{%  block body %}

    <div class="jumbotron text-center">
        <p>{{ reservation.vehicule.infos|upper }} <p>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Informations</h3></div>
                <div class="panel-body">Marque : {{ reservation.vehicule.marque }} </div>
                <div class="panel-body">Modèle : {{ reservation.vehicule.modele }} </div>
                <div class="panel-body">Numéro de série : {{ reservation.vehicule.numSerie }} </div>
                <div class="panel-body">Couleur : {{ reservation.vehicule.couleur }} </div>
                <div class="panel-body">Immatriculation : {{ reservation.vehicule.plaqueImmatriculation }} </div>
                <div class="panel-body">Nombre de km : {{ reservation.vehicule.nbKilometres }} </div>
                <div class="panel-body">Date d'achat : {{ reservation.vehicule.dateAchat|date('d/m/Y') }} </div>
                <div class="panel-body">Prix de base : {{ reservation.vehicule.prixAchat }} </div>
                <div class="panel-body">Prix/J : {{ offre.prixJournalier }} €</div>
                <img class="col-xs-12 img-thumbnail" src="{{ reservation.vehicule.image.webPath }}" alt="{{ reservation.vehicule.modele ~ " " ~ reservation.vehicule.marque }}">
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Réservation</h3></div>
                <div class="panel-body">Date de début : {{ reservation.dateDebut|date('d/m/Y') }}</div>
                <div class="panel-body">Date de Fin : {{ reservation.dateFin|date('d/m/Y') }}</div>
                <div class="panel-body">Location de {{ days }} jours</div>
                <div class="panel-body">Prix total : {{ reservation.prixTotal }} €</div>
                <div class="panel-body">
                    Statut :
                    {% if reservation.etat == '0' %}
                        En cours
                    {% else %}
                        Terminé
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12">
                {% if reservation.etat == '0' %}
                    <form class="col-lg-12" action="{{ path('front_reservation', {id : offre.id}) }}" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_Ri6gb4pQk6YXytYxQxyZEpTM"
                                data-amount="{{ reservation.prixTotal * 100 }}"
                                data-name="Emotion"
                                data-description="{{ reservation.vehicule.infos }}"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-zip-code="true"
                                data-currency="eur">
                        </script>
                        <button type="submit" class="btn btn-twitter" id="btn-check">Finalisez votre réservation</button>
                    </form>

                    <div style="display: none" class="panel panel-default error-msg">
                        <div class="panel-heading"><h3>Problème</h3></div>
                        <div class="panel-body">Une réservation existe déja entre vos deux dates de reservations.</div>
                        <a class="panel-body" href="{{ path('front_homepage') }}">Retour</a>
                    </div>

                {% else %}
                    <a href="{{ asset('uploads/facture/'~app.user.nom~'_'~app.user.prenom~'_facture'~reservation.id~'.pdf') }}" target = "_blank" ><button type="submit" class="btn btn-twitter">Voir ma facture</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $('#btn-check').on('click', function (e) {
                e.preventDefault();
                var param = {
                    'dateDebut' : '{{ reservation.dateDebut|date('d/m/Y') }}',
                    'dateFin' : '{{ reservation.dateFin|date('d/m/Y') }}',
                    'vehicule' : '{{ reservation.vehicule.id }}'
                };
                $.ajax({
                    type: "POST",
                    url: '{{ path('check_reservation_ajax') }}',
                    data: param,

                    success: function (retour) {
                        if(retour === 'ok'){
                            $('.stripe-button-el').trigger('click');
                        }else {
                            $('#btn-check').hide();
                            $('.error-msg').show();

                            e.preventDefault();
                        }
                    }
                })
            })
        });
    </script>

    <script>
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>

{% endblock %}
