{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Manager - Modifier l'offres de locations</h1>
    <div class="row">
        <div class="col-xs-12 manager-entity">
            {{ form_start(edit_form, {'attr': {'id': 'admin-manager-entity'}}) }}
                <input type="hidden" name="" class="daterangeSelect">
                {{ form_errors(edit_form) }}
                {{ form_rest(edit_form) }}
                <input class="btn-edit-manager" type="submit" value="Modifier" />
            {{ form_end(edit_form) }}
        </div>
    </div>
    <div class="row manager-btn-bottom">
        <div class="col-xs-6">
            <a class="btn-show-list-manager" href="{{ path('admin_offrelocation_index') }}">Voir toutes les offres</a>
        </div>
        <div class="col-xs-6">
            {{ form_start(delete_form) }}
                <input class="btn-del-manager" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}

