{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Manager - Gestion des offres de locations</h1>
    <div class="manager-admin-table">
        <table class="table">
            <tr class="entete">
                <th>Id</th>
                <th>Véhicule</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Prixjournalier</th>
                <th>Actions</th>
            </tr>
            {% for offreLocation in offreLocations %}
            <tr>
                <td><a href="{{ path('admin_offrelocation_show', { 'id': offreLocation.id }) }}">{{ offreLocation.id }}</a></td>
                <td>{{ offreLocation.vehicule }}</td>
                <td>{% if offreLocation.dateDebut %}{{ offreLocation.dateDebut|date('d-m-Y') }}{% endif %}</td>
                <td>{% if offreLocation.dateFin %}{{ offreLocation.dateFin|date('d-m-Y') }}{% endif %}</td>
                <td>{{ offreLocation.prixJournalier }}</td>
                <td class="actions">
                    <a href="{{ path('admin_offrelocation_show', { 'id': offreLocation.id }) }}">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('admin_offrelocation_edit', { 'id': offreLocation.id }) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row manager-btn-bottom">
        <div class="col-xs-12">
            <a class="btn-add-manager" href="{{ path('admin_offrelocation_new') }}">Ajouter une offre de location</a>
        </div>
    </div>
</div>
{% endblock %}
