{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Manager - Information de l'offre location</h1>
    <b>Id :</b> {{ offreLocation.id }}<br />
    <b>Vehicule :</b> {{ offreLocation.vehicule }}<br />
    <b>Date de début :</b> {{ offreLocation.dateDebut|date('d-m-Y') }}<br />
    <b>Date de fin :</b> {{ offreLocation.dateFin|date('d-m-Y') }}<br />
    <b>Prix journalier :</b> {{ offreLocation.prixJournalier }}<br />
    <div class="row manager-btn-bottom">
        <div class="col-xs-12">
            <a class="btn-show-list-manager" href="{{ path('admin_offrelocation_index') }}" title="Voir toutes les offres">Voir toutes les offres</a>
        </div>
    </div>
</div>
{% endblock %}
